<?xml version="1.0" encoding="UTF-8"?>
<Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>CY7HB5K4WBJZ7677</RequestId><HostId>Qf8xn5d0ec6/9isLwZNshpBTB44eIy+h53p6WKxBgfTDvkEpXultjdeuM+m8dvGqfxnDv35Gisg=</HostId></Error>